USE [master]
GO
/****** Object:  Database [FakeStore]    Script Date: 03/10/2025 01:27:05 p. m. ******/
CREATE DATABASE [FakeStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FakeStore', FILENAME = N'E:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FakeStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FakeStore_log', FILENAME = N'E:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\FakeStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FakeStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FakeStore]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 03/10/2025 01:27:07 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[id] [int] NOT NULL,
	[title] [varchar](max) NULL,
	[price] [decimal](18, 0) NULL,
	[category] [varchar](max) NULL,
	[description] [varchar](max) NULL,
	[fecha_insercion] [timestamp] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
